/* Purple purple purple.  Purple!
   (Created by randomly picking a purple using the picker at paletton.com.
   Although I see I picked a hue of 300 degrees, so maybe that's not in fact
   all that random.)
*/
:root {
  --scheme-darkest: #260339;
  --scheme-dark: #3d1255;
  --scheme-mid: #58a272;
  --scheme-lighter: #764b83;
  --scheme-lightest: #9775aa;
  --scheme-light-text: #ffffff;

  --dark-border: var(--scheme-darkest);
  --selected-bg-color: var(--scheme-dark);
  --selected-fg-color: var(--scheme-light-text);
  --selected-text-weight: bold;

  --pane-padding: 4px;


}

body {
  background-color: white;
}

/* ===== Account Home */

.account-home-summary {
  display: flex;
  flex-flow: column;
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid gray;
}

.ahs-contents {
  display: flex;
  flex-flow: row;
}

.ahs-details {
  flex: 1;
}

.ahs-actions {
  display: flex;
  flex-flow: row;
  flex: none;
}

/* ===== Folder Pane ===== */

.folder-pane {
  padding: var(--pane-padding);
}

/* ===== Folder Summaries ====== */

/* ===== Conversation List Pane ===== */

.conversation-list-pane {
  padding: var(--pane-padding);
}

/* ===== Conversation Summaries ===== */

.conv-summary {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
  overflow: hidden;
}

.conv-summary-envelope-row {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-sizing: border-box;
  height: 20px;
}

.conv-summary-date {
  box-sizing: border-box;
  padding-right: 1em;
  flex: 0 0 content;
}

.conv-summary-subject {
  flex: 1 10 auto;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.conv-summary-aggregates-row {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 20px;
}

.conv-summary-message-count {
  color: gray;
  flex: 0 0 content;
}

.conv-summary-authors {
  color: gray;
  flex: 1 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.conv-summary-tidbits {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

.conv-tidbit {
  display: flex;
  flex-direction: column;
  height: 40px;
}

.conv-tidbit-envelope-row {
  display: flex;
  flex-direction: row;
}

.conv-tidbit-author {
  display: inline-block;
  margin-right: 1em;
}

.conv-tidbit-date {
  display: inline-block;
  margin-right: 1em;
}

.conv-tidbit-snippet {
  display: block;
  font-style: italic;
  overflow: hidden;
  color: gray;
  text-overflow: ellipsis;
}

/* ===== Message List Pane ===== */

.message-list-pane {
  padding: var(--pane-padding);
}

/* ===== Message Summaries ===== */

.message-item {
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.message-envelope {

}

.message-author {
  display: inline-block;
  margin-right: 1em;
}

.message-date {

}

.message-subject {

}

/* ===== Splitter Stuff ===== */

.Pane {
  position: relative;
}

.Resizer {
    background: #000;
    box-sizing: border-box;
    opacity: .2;
    z-index: 1;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}
.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}
.Resizer.vertical {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}
.Resizer.vertical:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.horizontal {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
    height: 100%;
}
.Resizer.horizontal:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}
