/* Purple purple purple.  Purple!
   (Created by randomly picking a purple using the picker at paletton.com.
   Although I see I picked a hue of 300 degrees, so maybe that's not in fact
   all that random.)
*/
:root {
  --background-color: white;

  --scheme-darkest: #260339;
  --scheme-dark: #3d1255;
  --scheme-mid: #58a272;
  --scheme-lighter: #7e5595;
  --scheme-lightest: #b295c3;
  --scheme-light-text: #ffffff;

  --dark-border: var(--scheme-darkest);
  --lightest-border: #e8d4e8;
  --selected-bg-color: var(--scheme-dark);
  --selected-fg-color: var(--scheme-light-text);
  --selected-text-weight: bold;

  --conversation-background: var(--scheme-lightest);
  --conversation-border: var(--scheme-dark);

  --envelope-background: var(--scheme-lightest);
  --envelope-border: var(--scheme-dark);

  --tag-color: #ccc;

  --pane-padding: 4px;
}


body {
  background-color: var(--background-color);
  margin: 0;
  font-size: 13px;
}

h1 {
  font-size: 24px;
  font-family: sans-serif;
}

h2 {
  font-size: 20px;
  font-family: sans-serif;
}

h3, h4, h5, h6 {
  font-size: 15px;
  font-family: sans-serif;
}



/* ===== Account Home */

.account-home-summary {
  display: flex;
  flex-flow: column;
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid gray;
}

.ahs-contents {
  display: flex;
  flex-flow: row;
}

.ahs-details {
  flex: 1;
}

.ahs-actions {
  display: flex;
  flex-flow: row;
  flex: none;
}

/* ===== Folder Pane ===== */

.folder-pane {
  padding: var(--pane-padding);
}

.folder-item-selected {
  background-color: var(--selected-bg-color);
  color: var(--selected-fg-color);
}

/* ===== Folder Summaries ====== */

/* ===== Conversation List Pane ===== */

.conversation-list-pane {
  padding: var(--pane-padding);
}

/* ===== Conversation Summaries ===== */

.conv-summary {
  border: 1px solid var(--conversation-border);
  border-radius: 4px;
  padding: 2px;
  margin-bottom: 2px;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.conv-summary-selected {
  border-width: 2px;
}

.conv-summary-envelope-row {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-sizing: border-box;
  height: 20px;
}

.conv-summary-date {
  box-sizing: border-box;
  padding-right: 1em;
  flex: 0 0 content;
}

.conv-summary-subject {
  flex: 1 10 auto;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.conv-summary-aggregates-row {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 20px;
}

.conv-summary-message-count {
  color: gray;
  flex: 0 0 content;
}

.conv-summary-authors {
  color: gray;
  flex: 1 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.conv-summary-tidbits {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

.conv-tidbit {
  box-sizing: border-box;
  border-top: 1px solid var(--lightest-border);
  display: flex;
  flex-direction: column;
  height: 40px;
}

.conv-tidbit-envelope-row {
  display: flex;
  flex-direction: row;
}

.conv-tidbit-author {
  display: inline-block;
  margin-right: 1em;
}

.conv-tidbit-date {
  display: inline-block;
  margin-right: 1em;
}

.conv-tidbit-snippet {
  display: block;
  font-style: italic;
  overflow: hidden;
  color: gray;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ===== Message List Pane ===== */

.message-list-pane {
  padding: var(--pane-padding);
}

.converastion-tag-adder {
  display: inline-block;
}

/* ===== Message Summaries ===== */

.message-item {
  border: 1px solid var(--envelope-border);
  border-radius: 4px;
  margin-bottom: 2px;
}

.message-envelope-container {
  background-color: var(--envelope-background);
  padding: 2px;
}

.message-envelope-row {
  display: flex;
  flex-direction: row;
}

.message-author {
  display: inline-block;
  margin-right: 1em;
}

.message-date {
  box-sizing: border-box;
  padding-right: 1em;
  flex: 0 0 content;
}

.message-subject {

}

.message-snippet {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* The outer div, each body part lives inside one of the following: */
.message-body-container {
  overflow: hidden;
  padding: 2px;
}

.message-text-part-container {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.message-html-part-container {

}

/* Body display stuff */

.moz-external-link {
  color: #00aacc;
  cursor: pointer;
}

.msg-body-content {
  color: #333333;
  margin: 0.4rem 0;
}
.msg-body-signature {
  color: #808080;
  margin: 0.4rem 0;
}
.msg-body-leadin {
  color: gray;
  margin: 0.4rem 0;
}
.msg-body-q1, .msg-body-q2, .msg-body-q3, .msg-body-q4,
.msg-body-q5, .msg-body-q6, .msg-body-q7, .msg-body-q8, .msg-body-q9 {
  color: #808080;
  padding: 0.2rem;
  margin: 0.4rem 0;
}
.msg-body-q1 {
  border-left: 0.1rem solid gray;
}
.msg-body-q2 {
  border-left: 0.2rem solid gray;
}
.msg-body-q3 {
  border-left: 0.3rem solid gray;
}
.msg-body-q4 {
  border-left: 0.4rem solid gray;
}
.msg-body-q5 {
  border-left: 0.5rem solid gray;
}
.msg-body-q6 {
  border-left: 0.6rem solid gray;
}
.msg-body-q7 {
  border-left: 0.7rem solid gray;
}
.msg-body-q8 {
  border-left: 0.8rem solid gray;
}
.msg-body-q9 {
  border-left: 0.9rem solid gray;
}
.msg-body-disclaimer, .msg-body-list, .msg-body-product, .msg-body-ads {
  color: gray;
  margin: 0.4rem 0;
}

/* ===== Message Sub-Widget Stuff ====== */

/* === Taggy === */

.taggy-item {
  border: 1px solid var(--tag-color);
  border-radius: 1px;
  display: inline-block;
  padding: 2px;
  margin: 2px;
}

.taggy-name {

}

.taggy-remove-button {
  border: none;
  padding: 0;
  margin-left: 4px;
  background-color: #eee;
}

/* === Star === */

.star-widget {
  cursor: pointer;
  width: 1em;
}

.star-widget-starred {
  color: yellow;
  text-shadow: 0px -1px 0 #000, 0px 1px 0 #000, 1px 0 0 #000, -1px 0 0 #000;
}

.star-widget-unstarred {
  color: gray;
}

/* === Unread === */

.unread-widget {
  cursor: pointer;
  width: 1em;
}

.unread-widget-unread {
  color: #8888ee;
}

.unread-widget-read {
}

/* ===== Autosuggest ===== */
/* derived  from the compiled example .less styling from react-autosuggest */
.react-autosuggest {
  display: inline-block;
  position: relative;
  padding: 2px;
  margin: 2px;
}
.react-autosuggest input {
  border: 1px solid #aaaaaa;
  border-radius: 4px;
}
.react-autosuggest input[aria-expanded="true"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-autosuggest input:focus {
  outline: none;
}
.react-autosuggest__suggestions {
  position: absolute;
  top: 24px;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #aaaaaa;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}
.react-autosuggest__suggestions-section:first-child .react-autosuggest__suggestions-section-name {
  border-top: 0;
}
.react-autosuggest__suggestions-section-name {
  padding: 10px 0 0 10px;
  text-transform: uppercase;
  color: #777;
  border-top: 1px dashed #ccc;
}
.react-autosuggest__suggestions-section-suggestions {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.react-autosuggest__suggestion {
  cursor: pointer;
}
.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}

/* ===== Splitter Stuff ===== */

.SplitPane {
  box-sizing: border-box;
}

.Pane {
  position: relative;
  box-sizing: border-box;
}

.Resizer {
    background: #000;
    box-sizing: border-box;
    opacity: .2;
    z-index: 1;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}
.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}
.Resizer.vertical {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}
.Resizer.vertical:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.horizontal {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
    height: 100%;
}
.Resizer.horizontal:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}
