body {
  background-color: white;
}

.account-home-summary {
  display: flex;
  flex-flow: column;
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid gray;
}

.ahs-contents {
  display: flex;
  flex-flow: row;
}

.ahs-details {
  flex: 1;
}

.ahs-actions {
  display: flex;
  flex-flow: row;
  flex: none;
}

.conv-summary {
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.conv-summary-date {
  display: inline-block;
  margin-right: 1em;
}

.conv-summary-subject {
  display: inline-block;
  font-weight: bold;
}

.conv-summary-tidbits {
  padding-left: 1em;
}

.conv-tidbit {

}

.conv-tidbit-author {
  display: inline-block;
  margin-right: 1em;
}

.conv-tidbit-date {
  display: inline-block;
  margin-right: 1em;
}

.conv-tidbit-snippet {
  display: inline-block;
  font-style: italic;
}

.message-item {
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.message-envelope {

}

.message-author {
  display: inline-block;
  margin-right: 1em;
}

.message-date {

}

.message-subject {

}


.Pane {
  position: relative;
}

.Resizer {
    background: #000;
    box-sizing: border-box;
    opacity: .2;
    z-index: 1;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}
.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}
.Resizer.vertical {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}
.Resizer.vertical:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.horizontal {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
    height: 100%;
}
.Resizer.horizontal:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}
