/* Purple purple purple.  Purple!
   (Created by randomly picking a purple using the picker at paletton.com.
   Although I see I picked a hue of 300 degrees, so maybe that's not in fact
   all that random.)
*/
:root {
  --background-color: white;

  --scheme-darkest: #260339;
  --scheme-dark: #3d1255;
  --scheme-mid: #58a272;
  --scheme-lighter: #7e5595;
  --scheme-lightest: #d8c0e4;
  --scheme-light-text: #ffffff;

  /* got this by spreading the brightness out */
  --scheme-super-light: #d8c0e4;

  --dark-border: var(--scheme-darkest);
  --lightest-border: #e8d4e8;
  --selected-bg-color: var(--scheme-dark);
  --selected-fg-color: var(--scheme-light-text);
  --selected-text-weight: bold;

  --sticky-header-border: #aaaaaa;

  --action-info-bar-background: #ddddff;
  --action-info-bar-border: #aaaacc;

  --conversation-background: var(--scheme-lightest);
  --conversation-border: var(--scheme-dark);

  --envelope-background: var(--scheme-lightest);
  --envelope-border: var(--scheme-dark);

  --attachments-outer-border: var(--scheme-lighter);
  --attachments-inner-border: var(--scheme-lightest);
  --attachments-background: var(--scheme-super-light);

  --actionable: #eee;
  --actionable-hover: #ddf;

  --draft-border: #0000ff;
  --draft-background: #ccccff;

  --peep-border-color: #00ff00;
  --peep-background-color: #ccffcc;

  --tag-color: #ccc;

  --pane-padding: 4px;
}


body {
  background-color: var(--background-color);
  margin: 0;
  font-family: Roboto, sans-serif;
}

/* ===== Account Home */

.account-home-summary {
  display: flex;
  flex-flow: column;
  padding: 0.5em;
}

.ahs-border {
  border: 1px solid gray;
  padding: 0.5em;
}

.ahs-contents {
  display: flex;
  flex-flow: row;
}

.ahs-details {
  flex: 1;
}

.ahs-detail {
  margin-right: 0.5em;
}

.ahs-actions {
  display: flex;
  flex-flow: row;
  flex: none;
}

/* ===== Settings ===== */

/* === Account: Add === */

.add-account-page {
  margin: 1em;
}

/* ===== Folder Pane ===== */

.folder-pane {
  padding: var(--pane-padding);
}

.folder-item-selected {
  background-color: var(--selected-bg-color);
  color: var(--selected-fg-color);
}

.folder-selectable {
  cursor: default;
}

.folder-unselectable {
  color: gray;
  cursor: not-allowed;
}

.folder-depth0 {
  margin-left: 0em;
}
.folder-depth1 {
  margin-left: 1em;
}
.folder-depth2 {
  margin-left: 2em;
}
.folder-depth3: {
  margin-left: 3em;
}
.folder-depth4: {
  margin-left: 4em;
}
.folder-depth5: {
  margin-left: 5em;
}

/* ===== Folder Summaries ====== */

.sidebar-pane {
  overflow: auto;
  height: 100%;
}

.clickable-list-item {
  cursor: pointer;
}

/* ===== Conversation List Pane ===== */

/**
 * The conversation pane wants to be a flex-box header at the top that uses its
 * native size and whose second child takes the remainder and which wants to
 * be its own containing block for height sizing purposes.  The height need is
 * driven by SplitPane's needs at this time.  We can change it in the future.
 */
.conversation-list-pane {
  overflow: auto;
  height: 100%;
}

.conversation-list-pane-header {
  position: sticky;
  top: 0;
}

.conversation-list-scroll-region {
}

/* ===== Conversation Summaries ===== */

.conv-summary {
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.conv-summary-selected {
  border-top: 1px solid var(--conversation-border);
}

.conv-summary-envelope-row {
  border-top: 1px solid var(--conversation-border);
  background-color: var(--conversation-background);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-sizing: border-box;
  height: 19px;
}

.conv-summary-date {
  box-sizing: border-box;
  padding-right: 1em;
  flex: 0 0 content;
}

.conv-summary-subject {
  flex: 1 10 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.conv-summary-aggregates-row {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 19px;
}

.conv-summary-message-count {
  color: gray;
  flex: 0 0 content;
  margin-left: 4px;
}

.conv-summary-authors {
  color: gray;
  flex: 1 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.conv-summary-vis {

}

.conv-summary-details {
  display: flex;
  flex-direction: row;
}

.conv-time-threading-link {
  stroke: rgba(0, 0, 0, 0.2);
}
.conv-time-threading-node-g {

}
.conv-time-threading-starred {
  fill: yellow;
}
.conv-time-threading-read {
  fill: rgba(0, 0, 0, 0.4);
}
.conv-time-threading-unread {
  fill: rgba(0, 0, 128, 0.5);
}

/* deprecated tidbits */
.conv-summary-tidbits {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

.conv-tidbit {
  box-sizing: border-box;
  border-top: 1px solid var(--lightest-border);
  display: flex;
  flex-direction: column;
  height: 40px;
}

.conv-tidbit-envelope-row {
  display: flex;
  flex-direction: row;
}

.conv-tidbit-author {
  display: inline-block;
  margin-right: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.conv-tidbit-date {
  display: inline-block;
  margin-right: 1em;
  width: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.conv-tidbit-snippet {
  display: block;
  font-style: italic;
  overflow: hidden;
  color: gray;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.phab-drev-summary {
  padding-left: 4px;
}
.phab-drev-summary h3 {
  margin: 0;
  margin-bottom: 3px;
}

.patch-summary {

}
.patch-deltas {
  font-family: monospace;
  font-size: 90%;
}
.patch-add {
  color: darkgreen;
}
.patch-del {
  color: darkred;
  font-weight: bold;
}

/* ===== Message List Pane ===== */

.message-list-pane {
  height: 100%;
  overflow: auto;
}

.message-list-header {
  top: 0;
  background: var(--background-color);
  position: sticky;
  /* The original implementing bug says we should be getting our own stacking
     context anyways.  I don't understand why we're not, so force the issue. */
  /*z-index: 1;*/
  padding: var(--pane-padding);
  border-bottom: 2px solid var(--sticky-header-border);
  margin-bottom: var(--pane-padding);
}

.conv-header-subject {
  margin: 0;
}

.conv-header-label-row {
}

.conv-header-actions {
}

.message-list-scroll-region {
  padding: var(--pane-padding);
}


.converastion-tag-adder {
  display: inline-block;
}

/* ===== Message Summaries ===== */

.message-item {
  overflow: hidden;
  border: 1px solid var(--envelope-border);
  border-radius: 4px;
  margin-bottom: 2px;
}

.message-item-collapsed {
  border-bottom: 1px dashed var(--envelope-border);
}

.message-item-expanded {

}

.message-envelope-container {
  background-color: var(--envelope-background);
  padding: 2px;
}

.message-envelope-collapsed {
  background-color: var(--background-color);
}

.message-envelope-expanded {
}

.message-envelope-row {
  display: flex;
  flex-direction: row;
}

.message-author {
  display: inline-block;
  margin-right: 1em;
}

.message-date {
  box-sizing: border-box;
  padding-right: 1em;
  flex: 0 0 content;
}

.message-subject {

}

.message-snippet {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.message-actions {
  display: flex;
  flex-flow: row-reverse;
}

.message-attachments {
  border-top: 2px solid var(--attachments-outer-border);
  border-bottom: 2px solid var(--attachments-outer-border);
}

.message-attachment-item {
  display: flex;
  flex-direction: row;
  background-color: var(--attachments-background);
  border-bottom: 1px solid var(--attachments-inner-border);
}

.message-attachment-mimetype {
  margin: 0 4px;
}

.message-attachment-filename {
  margin: 0 4px;
}

.message-attachment-size {
  margin: 0 4px;
}

.message-download-embedded-images {
  background-color: var(--action-info-bar-background);
  padding: 4px;
  border-bottom: 1px solid var(--action-info-bar-border);
}

/* The outer div, each body part lives inside one of the following: */
.message-body-container {
  overflow: hidden;
  padding: 2px;
}

.message-text-part-container {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.message-html-part-container {

}

/* Body display stuff */

.moz-external-link {
  color: #00aacc;
  cursor: default;
}

.msg-body-content {
  color: #333333;
  margin: 0.4rem 0;
}
.msg-body-signature {
  color: #808080;
  margin: 0.4rem 0;
}
.msg-body-leadin {
  color: gray;
  margin: 0.4rem 0;
}
.msg-body-q1, .msg-body-q2, .msg-body-q3, .msg-body-q4,
.msg-body-q5, .msg-body-q6, .msg-body-q7, .msg-body-q8, .msg-body-q9 {
  color: #808080;
  padding: 0.2rem;
  margin: 0.4rem 0;
}
.msg-body-q1 {
  border-left: 0.1rem solid gray;
}
.msg-body-q2 {
  border-left: 0.2rem solid gray;
}
.msg-body-q3 {
  border-left: 0.3rem solid gray;
}
.msg-body-q4 {
  border-left: 0.4rem solid gray;
}
.msg-body-q5 {
  border-left: 0.5rem solid gray;
}
.msg-body-q6 {
  border-left: 0.6rem solid gray;
}
.msg-body-q7 {
  border-left: 0.7rem solid gray;
}
.msg-body-q8 {
  border-left: 0.8rem solid gray;
}
.msg-body-q9 {
  border-left: 0.9rem solid gray;
}
.msg-body-disclaimer, .msg-body-list, .msg-body-product, .msg-body-ads {
  color: gray;
  margin: 0.4rem 0;
}

/* ===== Message Sub-Widget Stuff ====== */

/* === Taggy === */

.taggy-item {
  cursor: default;
  border: 1px solid var(--tag-color);
  border-radius: 1px;
  display: inline-block;
  padding: 2px;
  margin: 2px;
}

.taggy-name {

}

.taggy-remove-button {
  border: none;
  padding: 0;
  margin-left: 4px;
  background-color: var(--actionable);
}

.taggy-remove-button:hover {
  background-color: var(--actionable-hover);
}

/* === Star === */

.star-widget {
  cursor: default;
  width: 1em;
}

.star-widget-starred {
  color: yellow;
  text-shadow: 0px -1px 0 #000, 0px 1px 0 #000, 1px 0 0 #000, -1px 0 0 #000;
}

.star-widget-unstarred {
  color: white;
}

/* === Unread === */

.unread-widget {
  cursor: default;
  width: 1em;
  margin-left: 2px;
  margin-top: 1px;
}

.unread-widget-unread {
  color: #8888ee;
}

.unread-widget-read {
}

/* === Drafts === */

.drafts-widget {
}

.drafts-widget-no-drafts {
  display: none;
}

.drafts-widget-drafts {
  color: brown;
  margin-right: 4px;
}

/* ===== Compose ===== */

.draft-item {
  border: 1px solid var(--draft-border);
  border-radius: 4px;
  margin-bottom: 2px;
}

.draft-envelope-container {
  background-color: var(--draft-background);
  padding: 2px;
}

.draft-recip-row {
  display: block;
}

.draft-subject-row {
  display: flex;
  flex-direction: row;
}

.draft-subject {
  flex: 1;
}

.draft-attachments {

}

.draft-body-editor {
  min-height: 4em;
}

.draft-buttons {
  overflow: hidden;
  background-color: gray;
}

/* === Peep === */

.compose-peep {
  display: inline-block;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid var(--peep-border-color);
  background-color: var(--peep-background-color);
}

.compose-peep-display-name {
  font-style: italic;
  margin-right: 4px;
  margin: 2px;
}

.compose-peep-address {
  margin: 2px;
}

.compose-peep-remove-button {
  display: inline-block;
  border: none;
  padding: 0;
  margin-left: 4px;
}

/* === Peep Suggestion === */

.compose-peep-suggestion {
}

.compose-peep-suggestion-display-name {
  font-style: italic;
  margin-right: 4px;
}

.compose-peep-suggestion-address {
}

/* === Attachments === */

.compose-attachment {

}

.compose-attachment-name {
  margin: 2px;
}

.compose-attachment-type {
  margin: 2px;
}

.compose-attachment-size {
  margin: 2px;
}

/* ===== Undo ===== */

.undoable {
  .background-color: #ffffcc;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
}

.undo-button {
  margin-left: 6px;
}

/* ===== Autosuggest ===== */
/* derived  from the compiled example .less styling from react-autosuggest */
.react-autosuggest {
  display: inline-block;
  position: relative;
  padding: 2px;
  margin: 2px;
}
.react-autosuggest input {
  border: 1px solid #aaaaaa;
  border-radius: 4px;
}
.react-autosuggest input[aria-expanded="true"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-autosuggest input:focus {
  outline: none;
}
.react-autosuggest__suggestions {
  position: absolute;
  top: 24px;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #aaaaaa;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}
.react-autosuggest__suggestions-section:first-child .react-autosuggest__suggestions-section-name {
  border-top: 0;
}
.react-autosuggest__suggestions-section-name {
  padding: 10px 0 0 10px;
  text-transform: uppercase;
  color: #777;
  border-top: 1px dashed #ccc;
}
.react-autosuggest__suggestions-section-suggestions {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.react-autosuggest__suggestion {
  cursor: default;
}
.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}

/* ===== Splitter Stuff ===== */

.Resizer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
    height: 100%;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}

/* ===== Debug Stuff ===== */

.debug-cronsync-account-data-dump {
  white-space: pre-wrap;
};
